---
layout: default
title: Blog
---
<!-- Content Wrapper
================================================== -->
<div id="content-wrapper">
     <!-- Parallex Page Title -->
     <div id="parallex-inner" class="parallex">
          <div class="container editable">
               <div class="eight columns"  data-animated="fadeInUp">
                    <h1>Blog</h1>
                    <p>sed quia non numquam eius modi tempora.</p>
               </div>
               <div class="eight columns">
                    <nav id="breadcrumbs">
                         <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">Pages</a></li>
                              <li>{{ page.title }}</li>
                         </ul>
                    </nav>
               </div>
          </div>
     </div>
     <!-- Container -->
     <div class="container editable">


<!-- Left Side Content -->
          <div class="twelve alt columns" style="margin-top: 30px;">
               <!-- Post -->
               {% for post in site.posts %}
               <article class="post medium">
                    <div class="five alt columns alpha">
                         <figure class="post-img media">
                              <div class="mediaholder"> <a href="{{ post.url }}">
                                        <img src="{{ post.image_path }}" alt=""/>
                                        <div class="hovercover">
                                             <div class="hovericon"><i class="hoverlink"></i></div>
                                        </div>
                                   </a> </div>
                         </figure>
                    </div>
                    <div class="seven columns">
                         <section class="post-content">
                              <header class="meta">
                                   <ul>
                                        <li>{{ post.date | date: "%d %B %Y" }}</li>
                                   </ul>
                                   <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                              </header>
                              <p>{{ post.content }}</p>
                              <a href="{{ post.url }}" class="button line-color">Read More</a> </section>
                    </div>
                    <div class="clearfix"></div>
               </article>
               {% endfor %}
               
               
              
               <!-- Pagination -->
               <nav class="pagination">
                    <ul>
                        {% if paginator.previous_page %}
                            <li><a href="{{ paginator.previous_page_path }}">Previous</a></li>
                        {% endif %}
                        {% if paginator.next_page %}
                            <li><a href="{{ paginator.next_page_path }}">Next</a></li>
                        {% endif %}
                    </ul>
                    <div class="clearfix"></div>
               </nav>
          </div>
          
          
          <!-- Right sidebar -->
          <div class="four columns">
               <div class="widget" style="margin: 40px 0 0 0;">
                    <h3 class="headline">Latest News</h3>
                    <span class="brd-headling"></span>
                    
                    <!-- Tabs Content -->
                    <div class="tabs-container">
                         <div class="tab-content" id="tab1">
                              <!-- Recent Posts -->
                              <ul class="widget-tabs" style="list-style:none;">
                                   <!-- Post #1 -->
                                   {% assign news = site.news | sort: 'order' %}
                                   {% for new in news limit:5 %}
                                   <li>
                                        <div class="widget-text">
                                             <p><a href="{{ new.url }}">{{ new.title }}</a></p>
                                              </div>
                                        <div class="clearfix"></div>
                                   </li>
                                   {% endfor %}
                              </ul>
                         </div>
                    </div>
               </div>
               
          </div>
     </div>
     <!-- Container / End -->
     
</div>
<!-- Content Wrapper / End -->
