---
layout: default
title: Home Page
slideshow:
  - image_path: /images/rev/slider01-img01.png
    title: Got an IT Security, Performance or Integration Problem?<br />Get Immediate, Expert Technical Support.
    text: When it’s taking too long to troubleshoot your Cisco, Juniper, Check Point and Fortinet firewall,<br />or get other day-to-day issues with IT hardware and software resolved, it’s time to work with people who know about VPNs,<br />configuring firewalls, combatting advanced threats, and delivering responsive expert technical support.<br />Learn more about all the ways we can help.
    link_label: Learn more
    link_url: #
  - image_path: /images/rev/slider01-img01.png
    title: Got an IT Security, Performance or Integration Problem?<br />Get Immediate, Expert Technical Support.
    text: When it’s taking too long to troubleshoot your Cisco, Juniper, Check Point and Fortinet firewall,<br />or get other day-to-day issues with IT hardware and software resolved, it’s time to work with people who know about VPNs,<br />configuring firewalls, combatting advanced threats, and delivering responsive expert technical support.<br />Learn more about all the ways we can help.
    link_label: Learn more
    link_url: #    
---

<!-- Content Wrapper
================================================== -->
<div id="content-wrapper">
     
     
  <!-- Revolution Slider Start -->
     <div class="tp-banner-container">
          <div class="tp-banner" >
               <ul>
                    
                    {% for item in page.slideshow %}
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                         
                         <img src="images/rev/bg-slider-01.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                         
                         <div class="tp-caption customin customout"
						data-x="700"
						data-y="80"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="600"
						data-start="1000"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeOut"
                      	style="z-index: 3"><img src="{{ item.image_path }}" alt=""> </div>
                        
                         <div class="tp-caption medium_text ucase customin"
						data-x="0"
						data-y="220"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1200"
						data-easing="Power3.easeInOut"
						data-endspeed="300"
						style="z-index: 3">{{ item.title }}</div>
                        
                         <div class="tp-caption small_text customin"
						data-x="0"
						data-y="280"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1600"
						data-easing="Power3.easeInOut"
						data-endspeed="300"
						style="z-index: 3">{{ item.text }}</div>
                        
                         <div class="caption text skewfromrightshort customout"
						data-x="0"
						data-y="380"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="2000"
						data-easing="Power3.easeInOut"
						data-endspeed="300"
						style="z-index: 3"><a href="{{ item.link_url }}" class="button line-gray">{{ item.link_label }}</a> </div>
                    </li>
                    {% endfor %}
                    
               </ul>
             
          </div>
     </div>
     
<!-- Featured Boxes Container -->
     <div class="container">
          <div class="featured-boxes homepage">
               <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box">
                         <div class="circle-1"><i class="icon-shield"></i></div>
                         <div class="featured-desc editable">
                              <h3>Security</h3>
                              <p>Maximize protection while reducing complexity and cost.</p>
                              <a href="#" class="button line-color">Read More</a> </div>
                    </div>
               </div>
               <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box">
                         <div class="circle-1"><i class="icon-check-sign"></i></div>
                         <div class="featured-desc editable">
                              <h3>Reliability</h3>
                              <p>Provide 24x7 access to your most critical enterprise assets.</p>
                              <a href="#" class="button line-color">Read More</a> </div>
                    </div>
               </div>
               <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box homepage">
                         <div class="circle-1"><i class="icon-sitemap"></i></div>
                         <div class="featured-desc editable">
                              <h3>Scalability</h3>
                              <p>Ensure your infrastructure scales with your business growth.</p>
                              <a href="#" class="button line-color">Read More</a> </div>
                    </div>
               </div>
          </div>
     </div>
     <hr class="sep40">

<!-- Featured boxes container -->
     <div class="container">
          <!-- Headline -->
          <div class="sixteen columns main-headline editable">
               <h3>Why Should You Choose Us?</h3>
               <p>Do eiusmod tempor incididunt ut labore dolore.</p>
          </div>
          <hr class="sep20">
          <div class="one-third column">
               <!-- Featured Box -->
               <hr class="sep80">
               <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2" style="float:right;"><i class="ss-broccoli"></i></div>
                    <div class="featured-desc-2" style="text-align:right; margin-right:60px; margin-left:0px;">
                         <h3>Super Crafted</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
               </div>
               <!-- Featured Box -->
               <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2" style="float:right;"><i class="ss-book"></i></div>
                    <div class="featured-desc-2" style="text-align:right; margin-right:60px; margin-left:0px;">
                         <h3>Responsive Design</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
               </div>
          </div>
          <div class="one-third column"> <img src="images/img-iphone01.png" class="image-center" data-animated="fadeInUp" alt=""> </div>
          <div class="one-third column">
               <!-- Featured Box -->
               <hr class="sep80">
               <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2"><i class="ss-cart"></i></div>
                    <div class="featured-desc-2">
                         <h3>Ecommerce Solution</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
               </div>
               <!-- Featured Box -->
               <div class="featured-box" data-animated="flipInX">
                    <div class="circle-2"><i class="ss-barchart"></i></div>
                    <div class="featured-desc-2">
                         <h3>Highly Rated</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
               </div>
          </div>
     </div>
<!-- Parallex Section  -->
     <div id="parallex1" class="parallex">
          <div class="container">
               <div class="sixteen columns main-headline">
                    <h3 class="color-white">Our Happy Customers</h3>
                    <p>Do eiusmod tempor incididunt ut labore dolore.</p>
               </div>
              
               <div id="showbiz_left_3"></div>
               <!-- ShowBiz Carousel -->
               <div id="happy-clients" class="showbiz-container sixteen carousel columns">
                   
                    <div class="showbiz our-clients" data-left="#showbiz_left_3" data-right="#showbiz_right_3">
                         <div class="overflowholder">
                              <ul>
                                   <li>
                                        <div class="happy-clients-photo"><img src="images/happy-clients-01.jpg" alt="" /></div>
                                        <div class="happy-clients-cite"><i class="ss-navigateleft"></i>Everything was thought out for your future needs. Plus, Evolve support is the best support I've ever experienced!"</div>
                                        <div class="happy-clients-author">John Walker, <strong>CEO</strong></div>
                                   </li>
                                   <li>
                                        <div class="happy-clients-photo"><img src="images/happy-clients-02.jpg" alt="" /></div>
                                        <div class="happy-clients-cite"><i class="ss-navigateleft"></i>The nicest theme I ever worked with and I have worked with hundreds of theme, If you a thinking about getting this theme i’d definitely recommend it.</div>
                                        <div class="happy-clients-author">Bob Woolner, <strong>Marketing Executive</strong></div>
                                   </li>
                                   <li>
                                        <div class="happy-clients-photo"><img src="images/happy-clients-03.jpg" alt="" /></div>
                                        <div class="happy-clients-cite"><i class="ss-navigateleft"></i> I’d say do it! The flexibility is awesome and the possibilities are endless. I also want to thank Evolve for the brillient support with setting things up and answering questions that I had. Thumbs Up!</div>
                                        <div class="happy-clients-author">Patrick Roger, <strong>CFO</strong></div>
                                   </li>
                              </ul>
                              <div class="clearfix"></div>
                         </div>
                         <div class="clearfix"></div>
                    </div>
               </div>
               <!-- Navigation / Right -->
               <div id="showbiz_right_3" ></div>
               <div class="overlay"></div>
          </div>
          <!--/.container-->
     </div>
     
<!-- Partners Carousel  -->
     <div class="bg-color">
          <!-- Container -->
          <div class="container">
               <!-- Navigation / Left -->
               <div class="one carousel column">
                    <div id="showbiz_left_2" class="sb-navigation-left-3"><i class="icon-angle-left"></i></div>
               </div>
               <!-- ShowBiz Carousel -->
               <div id="our-clients" class="showbiz-container fourteen carousel columns" >
                   
                    <div class="showbiz our-clients" data-left="#showbiz_left_2" data-right="#showbiz_right_2">
                         <div class="overflowholder">
                              <ul>
                                 
                                   <li data-animated="fadeInUp"><img src="images/partners/logo-01.png" alt="" /></li>
                                   <li data-animated="fadeInDown"><img src="images/partners/logo-02.png" alt="" /></li>
                                   <li data-animated="fadeInUp"><img src="images/partners/logo-03.png" alt="" /></li>
                                   <li data-animated="fadeInDown"><img src="images/partners/logo-04.png" alt="" /></li>
                                   <li data-animated="fadeInUp"><img src="images/partners/logo-05.png" alt="" /></li>
                                   <li data-animated="fadeInDown"><img src="images/partners/logo-06.png" alt="" /></li>
                                   <li data-animated="fadeInUp"><img src="images/partners/logo-07.png" alt="" /></li>
                              </ul>
                              <div class="clearfix"></div>
                         </div>
                         <div class="clearfix"></div>
                    </div>
               </div>
               <!-- Navigation / Right -->
               <div class="one carousel column">
                    <div id="showbiz_right_2" class="sb-navigation-right-3"><i class="icon-angle-right"></i></div>
               </div>
          </div>
          <!-- Container / End -->
     </div>
     
</div>

{% include portfolio.html %}
<!-- Content Wrapper / End -->