---
layout: default
title: Security7 Homepage
---

<!-- Content Wrapper
================================================== -->
<div id="content-wrapper">
     
     
  <!-- Revolution Slider Start -->
     <div class="tp-banner-container">
          <div class="tp-banner" >
               <ul>
                    
                    {% assign slideshows = site.slideshows | sort: 'order' %}
                    {% for slideshow in slideshows %}
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                         
                         <img src="{{ slideshow.image_path }}"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                         
                         <div class="slideDataHolder">
                             
                         <div class="tp-caption medium_text ucase customin"
						data-x="0"
						data-y="150"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1200"
						data-easing="Power3.easeInOut"
						data-endspeed="300"
						style="z-index: 3">{{ slideshow.title }}</div>
                        
                         <div class="tp-caption small_text customin slideTxt"
						data-x="0"
						data-y="210"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1600"
						data-easing="Power3.easeInOut"
						data-endspeed="300"
						style="z-index: 3">{{ slideshow.content }}</div>
                        
                         <div class="caption text skewfromrightshort customout buttonLink"
						data-x="0"
						data-y="340"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="2000"
						data-easing="Power3.easeInOut"
						data-endspeed="300"
						style="z-index: 3"><a href="{{ slideshow.link_url }}" class="button line-gray">{{ slideshow.link_label }}</a> </div>
						
						</div>
						
                    </li>
                    {% endfor %}
                    
               </ul>
             
          </div>
     </div>
     
<!-- Featured Boxes Container -->
     <div class="container">
          <div class="featured-boxes homepage editable">
               <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box">
                         <div class="circle-1"><img src="/images/icon-security.png" alt="" /></div>
                         <div class="featured-desc">
                              <h3>Security</h3>
                              <p>Maximize protection while reducing complexity and cost.</p>
                              <a href="#" class="button line-color">Read More</a> </div>
                    </div>
               </div>
               <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box">
                         <div class="circle-1"><img src="/images/icon-reliability.png" alt="" /></div>
                         <div class="featured-desc">
                              <h3>Reliability</h3>
                              <p>Provide 24x7 access to your most critical enterprise assets.</p>
                              <a href="#" class="button line-color">Read More</a> </div>
                    </div>
               </div>
               <div class="one-third column" data-animated="bounceIn">
                    <!-- Featured Box -->
                    <div class="featured-box homepage">
                         <div class="circle-1"><img src="/images/icon-scalability.png" alt="" /></div>
                         <div class="featured-desc">
                              <h3>Scalability</h3>
                              <p>Ensure your infrastructure scales with your business growth.</p>
                              <a href="#" class="button line-color">Read More</a> </div>
                    </div>
               </div>
          </div>
     </div>
     <hr class="sep40">

<!-- Featured boxes container -->
     <div class="container editable">
          <!-- Headline -->
          <div class="sixteen columns main-headline">
               <h3>Why Should You Choose Us?</h3>
          </div>
          <hr class="sep30">
          <div class="one-third column">
               <div class="featured-box" data-animated="flipInX">
                    <div class="featured-desc-2">
                         <img src="images/team/brian.png" alt="" />
                         <h3>Brian Thomas</h3>
                         <p>Partner & Chief Technology Officer.</p>
                    </div>
               </div>
          </div>
          <div class="one-third column">
              <div class="featured-box" data-animated="flipInX">
                    <div class="featured-desc-2">
                         <img src="images/team/jay.png" alt="" />
                         <h3>Jay Smith</h3>
                         <p>Partner & President of Sales.</p>
                    </div>
               </div>
          </div>
          <div class="one-third column">
               <div class="featured-box" data-animated="flipInX">
                    <div class="featured-desc-2">
                         <img src="images/team/ray.png" alt="" />
                         <h3>Ray Scholl</h3>
                         <p>Partner & Chief Information Security Officer.</p>
                    </div>
               </div>
          </div>
          <hr class="sep20">
     </div>
<!-- Parallex Section  -->
     <div id="parallex1" class="parallex testimonialsHolder">
          <div class="container editable">
               <div class="sixteen columns main-headline">
                    <h3 class="color-white">Our Happy Customers</h3>
               </div>
              
               <div id="showbiz_left_3"></div>
               <!-- ShowBiz Carousel -->
               <div id="happy-clients" class="showbiz-container sixteen carousel columns">
                   
                    <div class="showbiz our-clients" data-left="#showbiz_left_3" data-right="#showbiz_right_3">
                         <div class="overflowholder">
                              <ul>
                                  
                                  {% assign testimonials = site.testimonials | sort: 'order' %}
                                  {% for testimonial in testimonials %}
                                  
                                    <li>
                                        <div class="happy-clients-photo"><img src="{{ testimonial.image_path }}" alt="" /></div>
                                        <div class="happy-clients-cite"><i class="ss-navigateleft"></i>{{ testimonial.content }}</div>
                                        <div class="happy-clients-author">{{ testimonial.author }}</div>
                                    </li>
                                  
                                  {% endfor %}
                                   
                              </ul>
                              <div class="clearfix"></div>
                         </div>
                         <div class="clearfix"></div>
                    </div>
               </div>
               <!-- Navigation / Right -->
               <div id="showbiz_right_3" ></div>
               <div class="overlay"></div>
          </div>
          <!--/.container-->
     </div>
     
     
<!-- Partners Carousel  -->
     <div class="bg-color">
          <!-- Container -->
          <div class="container">
               <!-- Navigation / Left -->
               <div class="one carousel column">
                    <div id="showbiz_left_2" class="sb-navigation-left-3"><i class="icon-angle-left"></i></div>
               </div>
               <!-- ShowBiz Carousel -->
               <div id="our-clients" class="showbiz-container fourteen carousel columns" >
                   
                    <div class="showbiz our-clients" data-left="#showbiz_left_2" data-right="#showbiz_right_2">
                         <div class="overflowholder">
                              <ul>
                                 {% assign logos = site.logos | sort: 'order' %}
                                 {% for logo in logos %}
                                    <li data-animated="fadeInUp"><img src="{{ logo.image_path }}" alt="" /></li>
                                  {% endfor %}
                              </ul>
                              <div class="clearfix"></div>
                         </div>
                         <div class="clearfix"></div>
                    </div>
               </div>
               <!-- Navigation / Right -->
               <div class="one carousel column">
                    <div id="showbiz_right_2" class="sb-navigation-right-3"><i class="icon-angle-right"></i></div>
               </div>
          </div>
          <!-- Container / End -->
     </div>
     
</div>
<!-- Content Wrapper / End -->