---
layout: default
title: News
---
<!-- Content Wrapper
================================================== -->
<div id="content-wrapper">
     <!-- Parallex Page Title -->
     <div id="parallex-inner" class="parallex">
          <div class="container editable">
               <div class="eight columns"  data-animated="fadeInUp">
                    <h1>News</h1>
               </div>
               <div class="eight columns">
                    <nav id="breadcrumbs">
                         <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">Pages</a></li>
                              <li>{{ page.title }}</li>
                         </ul>
                    </nav>
               </div>
          </div>
     </div>
     <!-- Container -->
     <div class="container editable">


<!-- Left Side Content -->
          <div class="twelve alt columns" style="margin-top: 30px;">
               <!-- Post -->
               
               {% assign news = site.news | sort: 'order' %}
               {% for new in news %}
               <article class="post medium">
                    <div class="five alt columns alpha">
                         <figure class="post-img media">
                              <div class="mediaholder"> <a>
                                        <img src="{{ new.image_path }}" alt=""/>
                                        
                                   </a> </div>
                         </figure>
                    </div>
                    <div class="seven columns">
                         <section class="post-content">
                              <header class="meta">
                                   
                                   <h2><a >{{ new.title }}</a></h2>
                              </header>
                              <p>{{ new.content }}</p>
                              <a href="{{ new.link_url }}" target="_blank" class="button line-color">Read More</a> </section>
                    </div>
                    <div class="clearfix"></div>
               </article>
               {% endfor %}
               
               
          </div>
          
          
<!-- Right sidebar -->
          <div class="four columns">
               <div class="widget" style="margin: 40px 0 0 0;">
                    <h3 class="headline">Latest Blog Posts</h3>
                    <span class="brd-headling"></span>
                    
                    <!-- Tabs Content -->
                    <div class="tabs-container">
                         <div class="tab-content" id="tab1">
                              <!-- Recent Posts -->
                              <ul class="widget-tabs">
                                   <!-- Post #1 -->
                                   {% for post in site.posts limit:3 %}
                                   <li>
                                        <div class="widget-thumb"> <a href="{{ post.url }}"><img src="images/content/portfolio-01.jpg" alt="" /></a> </div>
                                        <div class="widget-text">
                                             <p><a href="blog-post.html">{{ post.title }}</a></p>
                                             <span>08 Jan 2014</span> </div>
                                        <div class="clearfix"></div>
                                   </li>
                                   {% endfor %}
                              </ul>
                         </div>
                    </div>
               </div>
               
          </div>
     </div>
     <!-- Container / End -->
     
</div>
<!-- Content Wrapper / End -->
