<!-- Footer
================================================== -->
<div id="footer">
     <!-- Container -->
     <div class="container">
          <div class="four columns">
               <h3>About</h3>
               <p style="margin:0;">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
               <hr class="sep30">
               <h3>Get In Touch</h3>
               <ul class="get-in-touch">
                    <li ><i class="ss-location"></i>
                         <p>1234 Abort Road, <br />
                              Gulberg City, UK</p>
                    </li>
                    <li><i class="ss-phone"></i>
                         <p><strong>Phone:</strong> +00 123 456 7890</p>
                    </li>
                    <li><i class="ss-mail"></i>
                         <p><strong>Email:</strong> <a href="#">contact@evolvestudio.com</a></p>
                    </li>
               </ul>
          </div>
          <div class="eight columns">
               <div class="four alt columns">
                    <h3>From the Blog</h3>
                    <!-- Recent Posts -->
                    <ul class="widget-tabs">
                         <!-- Post #1 -->
                         <li>
                              <div class="widget-thumb"> <a href="/blog-post.html"><img src="/images/content/portfolio-04.jpg" alt="" /></a> </div>
                              <div class="widget-text">
                                   <h4><a href="/blog-post.html">You Can't Beat Blog, Join Blog.</a></h4>
                                   <span>14 Dec 2013</span> </div>
                              <div class="clearfix"></div>
                         </li>
                         <!-- Post #2 -->
                         <li>
                              <div class="widget-thumb"> <a href="/blog-post.html"><img src="/images/content/portfolio-06.jpg" alt="" /></a> </div>
                              <div class="widget-text">
                                   <h4><a href="/blog-post.html">All The Blog That's Fit To Print.</a></h4>
                                   <span>11 Dec 2013</span> </div>
                              <div class="clearfix"></div>
                         </li>
                    </ul>
               </div>
               <div class="four alt columns">
                    <h3>Categories</h3>
                    <div class="widget_latest_posts">
                         <ul>
                              <li>
                                   <h6><i class="icon-chevron-right"></i><a href="#">Articles</a></h6>
                              </li>
                              <li>
                                   <h6><i class="icon-chevron-right"></i><a href="#">Blog Post</a></h6>
                              </li>
                              <li>
                                   <h6><i class="icon-chevron-right"></i><a href="#">Newsletter</a></h6>
                              </li>
                              <li>
                                   <h6><i class="icon-chevron-right"></i><a href="#">Image Gallery</a></h6>
                              </li>
                              <li>
                                   <h6><i class="icon-chevron-right"></i><a href="#">PSD Template</a></h6>
                              </li>
                              <li>
                                   <h6><i class="icon-chevron-right"></i><a href="#">Wordpress</a></h6>
                              </li>
                              <li>
                                   <h6><i class="icon-chevron-right"></i><a href="#">Retina Ready</a></h6>
                              </li>
                              <li>
                                   <h6><i class="icon-chevron-right"></i><a href="#">Photography</a></h6>
                              </li>
                         </ul>
                    </div>
               </div>
               <hr class="sep10">
               <div class="eight columns">
                    <h3>Newsletter</h3>
                    <p>Make sure you son't miss latest news and get notices about our new themes, stay tuned!</p>
                    <br>
                    <form action="#" method="get">
                         <button class="newsletter-btn" type="submit">Subscribe</button>
                         <input class="newsletter" type="text" onBlur="if(this.value=='')this.value='Email Address';" onFocus="if(this.value=='Email Address')this.value='';" value="Email Address" />
                    </form>
               </div>
          </div>
          <div class="four columns">
               <h3>Tags</h3>
               <div class="footer_tags">
                    <ul>
                         <li><a href="#">Business</a></li>
                         <li><a href="#">Wordpress</a></li>
                         <li><a href="#">Web Design</a></li>
                         <li><a href="#">PSD Template</a></li>
                         <li><a href="#">Video</a></li>
                         <li><a href="#">Photography</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Multimedia</a></li>
                         <li><a href="#">Responsive</a></li>
                    </ul>
               </div>
               <hr class="sep20">
               <h3>Flickr Feed</h3>
               <div class="photo-stream grayscale"></div>
          </div>
     </div>
     <!-- Container / End -->
</div>
<!-- Footer / End -->
<!-- Footer Bottom / Start -->
<div id="footer-bottom">
     <!-- Container -->
     <div class="container">
          <div class="eight columns">© Copyright 2013 by <a href="#">Evolve</a>. All Rights Reserved.</div>
          <div class="eight columns">
               <ul class="social-icons-footer">
                    <li><a href="#" class="tooltip top" title="Facebook"><i class="icon-facebook"></i></a></li>
                    <li><a href="#" class="tooltip top" title="Twitter"><i class="icon-twitter"></i></a></li>
                    <li><a href="#" class="tooltip top" title="LinkedIn"><i class="icon-linkedin-rect"></i></a></li>
                    <li><a href="#" class="tooltip top" title="Flickr"><i class="icon-flickr"></i></a></li>
                    <li><a href="#" class="tooltip top" title="Dribbble"><i class="icon-dribbble"></i></a></li>
                    <li><a href="#" class="tooltip top" title="Youtube"><i class="icon-youtube"></i></a></li>
                    <li><a href="#" class="tooltip top" title="RSS"><i class="icon-rss"></i></a></li>
               </ul>
          </div>
     </div>
     <!-- Container / End -->
</div>
<!-- Footer Bottom / End -->