<!-- Footer
================================================== -->
<div id="footer">
     <!-- Container -->
     <div class="container">
          <div class="four columns">
              <div class="three columns">
                    <h3>About Us</h3>
                     <p style="margin:0;">Security7 is an internetworking and security systems integrator specializing in the installation and remote management of networks for organizations throughout the United States and across the world. Our core competencies include designing networks that are highly reliable, scale with your business objectives, and meet your security requirements.</p>
               </div>
          </div>
          <div class="four columns">
                <div class="three columns">
                    <h3>Latest Blog Entry</h3>
                    <!-- Recent Posts -->
                    <ul class="widget-tabs">
                        <!-- Post #1 -->
                        <li>
                            <div class="widget-text">
                               <h4><a href="#">66% of Organizations Will Wait for Their Operating Systems to “Expire” Before Upgrading</a></h4>
                            </div>
                            <div class="clearfix"></div>
                            <hr class="sep10">
                            <a href="#">Continue Reading...</a>
                        </li>
                    </ul>
                </div>
          </div>
          <div class="four columns">
                <div class="three columns">
                    <h3>Latest News</h3>
                    <!-- Recent Posts -->
                    <ul class="widget-tabs">
                        <!-- Post #1 -->
                        <li>
                            <div class="widget-thumb"> <a href="/blog-post.html"><img src="/images/content/portfolio-04.jpg" alt="" /></a> </div>
                            <div class="widget-text">
                               <h4><a href="#">Nizhoni Health Systems Nurses its Network to Health with Comcast Business. Fiber-based Ethernet Network Helps Visiting Nurses Organization Quickly and Securely Transfer Information across Multiple Sites to Improve Patient Care in Massachusetts</a></h4>
                            </div>
                            <div class="clearfix"></div>
                             <hr class="sep10">
                             <a href="#">Read more</a>
                        </li>
                     </ul>
                </div>
          </div>
          <div class="four columns">
              <div class="three columns">
                    <h3>Contact Us</h3>
                    <p style="margin:0;">Learn more about what Security7 Networks can do for your business.</p>
                     <hr class="sep10">
                     <ul class="get-in-touch">
                         <li ><i class="ss-location"></i>
                            <p>861 Lafayette Road, Unit 4<br />
                              Hampton, New Hampshire 03842</p>
                        </li>
                         <li><i class="ss-phone"></i>
                            <p><strong>Phone:</strong> (877) 664-9379</p>
                         </li>
                    </ul>
                    <hr class="sep10">
                    <ul class="get-in-touch">
                        <li ><i class="ss-location"></i>
                            <p>409 Pond Street, Unit 12<br />
                              Braintree , MA  02184</p>
                         </li>
                        <li><i class="ss-phone"></i>
                            <p><strong>Phone:</strong> (877) 664-9379</p>
                        </li>
                    </ul>
               </div>
          </div>
     </div>
     <!-- Container / End -->
</div>
<!-- Footer / End -->
<!-- Footer Bottom / Start -->
<div id="footer-bottom">
     <!-- Container -->
     <div class="container">
          <div class="eight columns">© Copyright 2016 by <a href="#">Security7 Networks</a>. All Rights Reserved.</div>
     </div>
     <!-- Container / End -->
</div>
<!-- Footer Bottom / End -->