
<!-- Navigation
================================================== -->
  <div class="three columns">
       <div id="mobile-navigation">
            <form method="GET" id="menu-search" action="#">
                 <input type="text" value="Start Typing..." onFocus="if (this.value == 'Start Typing...')this.value = '';" onBlur="if (this.value == '')this.value = 'Start Typing...';"/>
            </form>
            <a href="#menu" class="menu-trigger"><i class="icon-reorder"></i></a> <span class="search-trigger"><i class="icon-search"></i></span> </div>
       <div id="logo">
            <h1><a href="/index.html"><img src="/images/logo.png" alt="Evolve" /></a></h1>
       </div>
  </div>
  <div class="thirteen columns">
       <nav id="navigation" class="menu">
            <ul id="responsive">
                 <li><a href="/index.html" id="current">Home</a>
                      <ul>
                           <li><a href="/why-security7.html">Why Security7?</a></li>
                      </ul>
                 </li>
<li><a href="/it-services.html">IT Services</a>
                      <!-- Mega Menu / Start -->
                      <ul class="cols4">
                           <li class="col2">
                                <ol>
                                     <li><a href="/network-security.html">Network Security</a></li>
                                     <li><a href="/outsourcing-your-IT.html">Outsourcing your IT</a></li>
                                     <li><a href="/hosted-microsoft-exchange.html">Hosted Microsoft Exchange</a></li>
                                     <li><a href="/security-policy.html">Security Policy</a></li>
                                     <li><a href="/firewall-and-security.html">Firewall and Security</a></li>
                                     <li><a href="/spam-protection.html">Spam Protection</a></li>
                                     <li><a href="/2-factor-authentication.html">2-Factor Authentication</a></li>
                                </ol>
                           </li>
                           <li class="col2">
                                <ol>
                                     <li><a href="/penetration-and-assessment.html">Penetration & Assessment</a></li>
                                     <li><a href="/voip.html">VoIP</a></li>
                                     <li><a href="/get-the-IT-work-done.html">Get the IT work done</a></li>
                                     <li><a href="/24-x-7-monitoring.html">24 x 7 Monitoring</a></li>
                                     <li><a href="/expert-technical-support.html">Expert Technical Support</a></li>
                                     <li><a href="/security-awareness-training.html">Security Awareness Training</a></li>
                                </ol>
                           </li>
                      </ul>
                      <!-- Mega Menu / End -->
                 </li>
<li><a href="/campaign-fullwidth.html">Partners</a>
                      <ul>
                           <li><a href="/barracuda.html">Barracuda</a></li>
                           <li><a href="/campaign-fullwidth.html">Comcast</a></li>
                           <li><a href="/campaign-fullwidth.html">Sophos</a></li>
                           <li><a href="/campaign-fullwidth.html">Fortinet</a></li>
                           <li><a href="/campaign-fullwidth.html">Cisco</a></li>
                           <li><a href="/campaign-fullwidth.html">Radware</a></li>
                           <li><a href="/campaign-fullwidth.html">Rapid7</a></li>
                           <li><a href="/campaign-fullwidth.html">SentinelOne</a></li>
                      </ul>
                 </li>
<li><a href="/blog-medium-image.html">News & Events</a>
                      <ul>
                           <li><a href="/blog-medium-image.html">Blog</a></li>
                           <li><a href="/blog-medium-image.html">News & Events Releases</a></li>
                      </ul>
                 </li>
<li><a href="/full-width.html">About Us</a>
                      <ul>
                           <li><a href="/full-width.html">Contact Us</a></li>
                           <li><a href="/full-width.html">Testimonials</a></li>
                      </ul>
                 </li>
<li><a href="/campaign-right-sidebar.html">Support</a>
                      <ul>
                           <li><a href="/campaign-right-sidebar.html">How to Request Support</a></li>
                           <li><a href="/campaign-right-sidebar.html">Get the IT work done</a></li>
                           <li><a href="/campaign-right-sidebar.html">24 x 7 Monitoring</a></li>
                           <li><a href="/campaign-right-sidebar.html">Expert Technical Support</a></li>
                      </ul>
                 </li>
<!-- Search Button -->
                 <li>
                      <div id="header-search-button"><a href="#"  class="search-button"><i class="ss-search"></i></a></div>
                 </li>
         </ul>
       </nav>
  </div>