<div id="mobile-navigation">
        <form method="GET" id="menu-search" action="#">
             <input type="text" value="Start Typing..." onFocus="if (this.value == 'Start Typing...')this.value = '';" onBlur="if (this.value == '')this.value = 'Start Typing...';"/>
        </form>
        <a href="#menu" class="menu-trigger"><i class="icon-reorder"></i></a> <span class="search-trigger"><i class="icon-search"></i></span> </div>
   <div id="logo">
        <h1><a href="/index.html"><img src="/images/logo.png" alt="Evolve" /></a></h1>
   </div>
</div>
<!-- Navigation
================================================== -->
<div class="thirteen columns">
   <nav id="navigation" class="menu">
        <ul id="responsive">
             <li><a href="/index.html">Home</a>
                  <ul>
                       <li><a href="/index-landing.html">Landing Home</a></li>
                       <li><a href="/index-parallex.html">Parallex Home</a></li>
                       <li><a href="/index-portfolio.html">Portfolio Home</a></li>
                       <li><a href="/index-creative.html">Creative Home</a></li>
                       <li><a href="/index-blog.html">Blog Grid Home</a></li>
                       <li><a href="/index-minimal.html">Minimal Home</a></li>
                       <li><a href="/index-super-minimal.html">Super Minimal Home</a></li>
                       <li><a href="/index-business-minimal.html">Business Minimal Home</a></li>
                  </ul>
             </li>
<li><a href="#">Pages</a>
                  <!-- Mega Menu / Start -->
                  <ul class="cols3">
                       <li class="col1">
                            <ol>
                                 <li><a href="/about.html">About Us<span>HOT</span></a></li>
                                 <li><a href="/services.html">Services<span>HOT</span></a></li>
                                 <li><a href="/pricing-tables.html">Pricing Tables</a></li>
                                 <li><a href="/testimonials.html">Testimonials</a></li>
                            </ol>
                       </li>
                       <li class="col1">
                            <ol>
                                 <li><a href="/team.html">Team Members</a></li>
                                 <li><a href="/search.html">Search Results</a></li>
                                 <li><a href="/career.html">Career Page<span>HOT</span></a></li>
                                 <li><a href="/full-width.html">Full Width</a></li>
                            </ol>
                       </li>
                       <li class="col1">
                            <ol>
                                 <li><a href="/faq.html">FAQ's</a></li>
                                 <li><a href="/404-page.html">404 Page</a></li>
                                 <li><a href="/left-sidebar.html">Left Sidebar</a></li>
                                 <li><a href="/right-sidebar.html">Right Sidebar</a></li>
                            </ol>
                       </li>
                  </ul>
                  <!-- Mega Menu / End -->
             </li>
<li><a href="#">Features</a>
                  <ul>
                       <li><a href="/elements.html">Elements</a></li>
                       <li><a href="/typography.html">Typography</a></li>
                       <li><a href="/pricing-tables.html">Pricing Tables</a></li>
                       <li><a href="/icons.html">Icons</a></li>
                       <li><a href="/columns.html">Columns</a></li>
                  </ul>
             </li>
<li><a href="#">Portfolio</a>
                  <ul>
                       <li><a href="/portfolio-4-columns.html">Portfolio 4 Columns</a></li>
                       <li><a href="/portfolio-3-columns.html">Portfolio 3 Columns</a></li>
                       <li><a href="/portfolio-masonry.html">Portfolio Masonry</a></li>
                       <li><a href="/project-single-half.html">Project Single Half</a></li>
                       <li><a href="/project-single-wide.html">Project Single Wide</a></li>
                  </ul>
             </li>
<li><a href="#">Blog</a>
                  <ul>
                       <li><a href="/blog-large-image.html">Blog Large Image</a></li>
                       <li><a href="/blog-medium-image.html">Blog Medium Image</a></li>
                       <li><a href="/blog-timeline.html">Blog Timeline</a></li>
                       <li><a href="/blog-post.html">Single Post</a></li>
                  </ul>
             </li>
          <li><a href="/contact.html">Contact</a></li>
<!-- Search Button -->
             <li>
                  <div id="header-search-button"><a href="#"  class="search-button"><i class="ss-search"></i></a></div>
             </li>
     </ul>
   </nav>
</div>