---
layout: default
---

<!-- Content Wrapper
================================================== -->
<div id="content-wrapper">


     <!-- Container -->
     <div class="container">


<!-- Left Side Content -->
          <div class="twelve alt columns" style="margin-top: 30px;">
               <!-- Post -->
               <article class="post">
                    <figure class="post-img media">
                         <div class="mediaholder"> <a> <img src="{{ page.image_path }}" alt=""/>
                                   
                              </a> </div>
                    </figure>
                    <section class="post-content">
                         <header class="meta">
                              <ul>
                                   <li>{{ page.date | date: "%d %B %Y" }}</li>
                              </ul>
                              <h2><a>{{ page.title }}</a></h2>
                         </header>
                         <p>
                         {{ content }}
                         </p>
                    </section>
                    <div class="clearfix"></div>
               </article>



               
          </div>
          
<!-- Rigth Sidebar-->
          <div class="four columns">
               <!-- Company Intro -->
               <div class="widget">
                    <h3 class="headline">Company Intro</h3>
                    <span class="brd-headling"></span>
                    <div class="clearfix"></div>
                    <p> Cras scelerisque commodo odio. Phasellus dolor enim, faucibus egestas scelerisque hendrerit, aliquet sed. </p>
               </div>
               <br>
               <!-- Search Form -->
               <form class="search-form" action="#" method="get">
               <button class="search-btn" type="submit"><i class="icon-search"></i></button>
               <input class="search" type="text" onBlur="if(this.value=='')this.value='Search';" onFocus="if(this.value=='Search')this.value='';" value="Search" />
               </form>
          </div>
     </div>
     <!-- Container / End -->
     
</div>
<!-- Content Wrapper / End -->