---
layout: default
---

<!-- Content Wrapper
================================================== -->
<div id="content-wrapper">

    
    <div id="parallex-inner" class="parallex">
          <div class="container">
               <div class="eight columns"  data-animated="fadeInUp">
                    <h1>{{ page.title }}</h1>
               </div>
               <div class="eight columns">
                    <nav id="breadcrumbs">
                         <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="/blog.html">Blog</a></li>
                              <li>{{ page.title }}</li>
                         </ul>
                    </nav>
               </div>
          </div>
     </div>
    
     <!-- Container -->
     <div class="container">


<!-- Left Side Content -->
          <div class="twelve alt columns" style="margin-top: 30px;">
               <!-- Post -->
               <article class="post">
                    <figure class="post-img media">
                         <div class="mediaholder"> <a> <img src="{{ page.image_path }}" alt=""/>
                                   
                              </a> </div>
                    </figure>
                    <div class="post-format">
                         <h4>{{ page.date | date: "%B" }}</h4>
                         <h2>{{ page.date | date: "%d" }}</h2>
                    </div>
                    <section class="post-content">
                         <header class="meta">
                              <ul>
                                   <li>{{ page.date | date: "%d %B %Y" }}</li>
                              </ul>
                              <h2><a>{{ page.title }}</a></h2>
                         </header>
                         <p>
                         {{ content }}
                         </p>
                    </section>
                    <div class="clearfix"></div>
               </article>



               
          </div>
          
<!-- Rigth Sidebar-->
          <!-- Right sidebar -->
          <div class="four columns">
               <div class="widget" style="margin: 40px 0 0 0;">
                    <h3 class="headline">Latest Blog Posts</h3>
                    <span class="brd-headling"></span>
                    
                    <!-- Tabs Content -->
                    <div class="tabs-container">
                         <div class="tab-content" id="tab1">
                              <!-- Recent Posts -->
                              <ul class="widget-tabs" style="list-style:none;">
                                   <!-- Post #1 -->
                                   {% for post in site.posts limit:5 %}
                                   <li>
                                        <div class="widget-text">
                                             <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                                             <span>{{ post.date | date: "%d %B %Y" }}</span> </div>
                                        <div class="clearfix"></div>
                                   </li>
                                   {% endfor %}
                              </ul>
                         </div>
                    </div>
               </div>
               
          </div>
     </div>
     <!-- Container / End -->
     
</div>
<!-- Content Wrapper / End -->