---
layout: default
---

<!-- Content Wrapper
================================================== -->
<div id="content-wrapper">

<!-- Parallex Page Title -->
     <div id="parallex-inner" class="parallex">
          <div class="container editable">
               <div class="eight columns"  data-animated="fadeInUp">
                    <h1>Blog Single Post</h1>
                    <p>sed quia non numquam eius modi tempora.</p>
               </div>
               <div class="eight columns">
                    <nav id="breadcrumbs">
                         <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">Pages</a></li>
                              <li>Blog Single Post</li>
                         </ul>
                    </nav>
               </div>
          </div>
     </div>
     <!-- Container -->
     <div class="container editable">


<!-- Left Side Content -->
          <div class="twelve alt columns" style="margin-top: 30px;">
               <!-- Post -->
               <article class="post">
                    <figure class="post-img media">
                         <div class="mediaholder"> <a href="blog-post.html"> <img src="images/content/img-01a.jpg" alt=""/>
                                   <div class="hovercover">
                                        <div class="hovericon"><i class="hoverlink"></i></div>
                                   </div>
                              </a> </div>
                    </figure>
                    <div class="post-format">
                         <h4>JAN</h4>
                         <h2>12</h2>
                         <span><i class="ss-heart"></i> 32</span> </div>
                    <section class="post-content">
                         <header class="meta">
                              <ul>
                                   <li><a href="#">Posted by Okathemes</a></li>
                                   <li><a href="#">Wordpress</a>, <a href="#">Programming</a></li>
                                   <li><a href="#">3 Comments</a></li>
                              </ul>
                              <h2><a href="blog-post.html">Standard post with preview image</a></h2>
                         </header>
                         <p>In massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursus vestibulum varius hendrerit turpis quiseam cursus. Nonec bibendum vestibulum Kravida. Alentesque condimentum orci vel leo laoreet accumsan interdum eros vel sapien tincidunt dignissim consequat.</p>
                         <blockquote>Sed aliquam eu ante a ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce elementum felis lorem, eget scelerisque enim blandit quis. Praesent luctus pulvinar sollicitudin. Morbi in semper mauris.</blockquote>
                         <p> Ut viverra est non est venenatis, quis faucibus nulla rutrum. Proin neque purus, tincidunt non nibh non, vehicula ornare sapien. Nulla commodo nulla quis nunc fermentum interdum. Curabitur ante leo, feugiat non accumsan in, aliquet non ipsum. Mauris sit amet ultricies lectus. Mauris non dictum arcu, non tristique quam.</p>
                         <p style="margin:0;">Nullam elementum consequat lacus, sit amet pulvinar urna hendrerit sit amet. Sed aliquam eu ante a ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce elementum felis lorem, eget scelerisque enim blandit quis. Praesent luctus pulvinar sollicitudin. Morbi in semper mauris. Nulla convallis pharetra felis, a ultrices massa tristique in. Phasellus purus sem, porttitor eget luctus sed, congue et purus. Integer sagittis augue a consequat ultrices.</p>
                    </section>
                    <div class="clearfix"></div>
               </article>



               
          </div>
          
<!-- Rigth Sidebar-->
          <div class="four columns">
               <!-- Company Intro -->
               <div class="widget">
                    <h3 class="headline">Company Intro</h3>
                    <span class="brd-headling"></span>
                    <div class="clearfix"></div>
                    <p> Cras scelerisque commodo odio. Phasellus dolor enim, faucibus egestas scelerisque hendrerit, aliquet sed. </p>
               </div>
               <br>
               <!-- Search Form -->
               <form class="search-form" action="#" method="get">
               <button class="search-btn" type="submit"><i class="icon-search"></i></button>
               <input class="search" type="text" onBlur="if(this.value=='')this.value='Search';" onFocus="if(this.value=='Search')this.value='';" value="Search" />
               </form>
          </div>
     </div>
     <!-- Container / End -->
     
</div>
<!-- Content Wrapper / End -->